<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnit.system.mapper.EventsMapper">
    
    <resultMap type="Events" id="EventsResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="eventType"    column="event_type"    />
        <result property="resourceType"    column="resource_type"    />
        <result property="resourceId"    column="resource_id"    />
        <result property="properties"    column="properties"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectEventsVo">
        select id, user_id, event_type, resource_type, resource_id, properties, created_at from events
    </sql>

    <select id="selectEventsList" parameterType="Events" resultMap="EventsResult">
        <include refid="selectEventsVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="eventType != null  and eventType != ''"> and event_type = #{eventType}</if>
            <if test="resourceType != null  and resourceType != ''"> and resource_type = #{resourceType}</if>
            <if test="resourceId != null  and resourceId != ''"> and resource_id = #{resourceId}</if>
            <if test="properties != null  and properties != ''"> and properties = #{properties}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>
    
    <select id="selectEventsById" parameterType="Long" resultMap="EventsResult">
        <include refid="selectEventsVo"/>
        where id = #{id}
    </select>

    <insert id="insertEvents" parameterType="Events" useGeneratedKeys="true" keyProperty="id">
        insert into events
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="eventType != null">event_type,</if>
            <if test="resourceType != null">resource_type,</if>
            <if test="resourceId != null">resource_id,</if>
            <if test="properties != null">properties,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="eventType != null">#{eventType},</if>
            <if test="resourceType != null">#{resourceType},</if>
            <if test="resourceId != null">#{resourceId},</if>
            <if test="properties != null">#{properties},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateEvents" parameterType="Events">
        update events
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="eventType != null">event_type = #{eventType},</if>
            <if test="resourceType != null">resource_type = #{resourceType},</if>
            <if test="resourceId != null">resource_id = #{resourceId},</if>
            <if test="properties != null">properties = #{properties},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEventsById" parameterType="Long">
        delete from events where id = #{id}
    </delete>

    <delete id="deleteEventsByIds" parameterType="String">
        delete from events where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>