<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnit.system.domain.BookRecipe">
    <insert id="insert">
        INSERT INTO book_recipes (book_id, recipe_id, page_number, sort_order)
        VALUES (#{bookId}, #{recipeId}, #{pageNumber}, #{sortOrder})
    </insert>

    <select id="selectByBookId" resultType="BookRecipe">
        SELECT * FROM book_recipes WHERE book_id = #{bookId} ORDER BY sort_order
    </select>
</mapper>